<div class="row">
  <div class="col-lg-6 m-auto ">
    <% if(errors.length > 0) { %>
      <ul class="bg-danger text-white rounded py-1">
        <% for(var i=0; i<errors.length; i++) { %>
          <li>
            <%= errors[i] %>
          </li>
          <% } %>
      </ul>
      <% } %>
  </div>
</div>

<div class="row">

  <form class="form-inline" action="/search" method="post">
    <div class="form-group m-2">
      <label for="staticEmail2" class="mr-2">Ville</label>
      <input type="text" name="search" class="form-control" id="staticEmail2" value="" placeholder="Entrer une ville">
    </div>
    <button type="submit" class="btn btn-warning text-white btn-search m-2">Enregister</button>
  </form>
</div>

<hr>

<!-- map -->
<div class="row">
  <div id="map">

  </div>
</div>

<!-- todolist -->
<%
  for (var i = 0; i<data.length; i++) {%>
  <input type="hidden" id="lon" name="" value="<%= data[i].lon %>">
  <input type="hidden" id="lat" name="" value="<%= data[i].lat %>">

  <div class="row m-2">
    <div class="col-md-12 border rounded">
      <div class="row">
        <div class="col-md-3">
          <h4 class="pt-3 title"><%= data[i].name %></h4>
        </div>
        <div class="col-md-6 py-2 mt">
          <div class="row">
            <div class="col-md-7 m-auto">
              <span><img src="//openweathermap.org/img/w/<%=data[i].icon%>.png" alt=""></span>
              <span class="p-2 text-dark"><%= data[i].description %></span>
              <span class="badge badge-warning col-md-2 p-2 mx-1"><%= data[i].temp_min %> °C</span>
              <span class="badge badge-secondary col-md-2 p-2 mx-1"><%= data[i].temp_max %> °C</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-right py-2">
          <a href="/delete?id=<%= data[i].id%>">
            <i class="far fa-times-circle"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% } %>

    <script>
      var lat = parseInt(document.getElementById('lat').value);
      var lon = parseInt(document.getElementById('lon').value);

      function initMap() {
        var city = {
          lat: lat,
          lng: lon
        }
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: city
        });

      }
      var marker = new google.maps.Marker({
            position: city,
            map: map,

            // function addMarker(coords) {
            //
            //       // icon: 'http://developpers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            //       // });
            // }
          }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFdHu4d6wF8tqWn48UWTpF_Ro0CJgcmmo&callback=initMap">
    </script>
